body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9eaed;
  
}

a {
  color: #00B7FF;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a{
	color:white;
}
.unfriend{
	float: right;
    margin-top: -48px;
    margin-right: 40px;
}
ol{
	list-style:none;
	margin:0px;
	padding:0px;
}
.posts{
	min-height:70px;
	margin-bottom:5px;
	border:solid 1px #ffffff;
	background-color:#ffffff;
	margin-top:10px;
}
.post{
	margin-left:55px;
	min-height:50px;
	word-wrap:break-word; // Text justification
	overflow:hidden;
	padding:5px;
	display:block;
}
.name{
	margin-top:10px;
}

.img
{
	float:left;
	height:50px;
	width:50px;
	margin-top: 5px;
    margin-right: 8px;
}
.about{
	font-size: 27px;
    border: solid 1px gray;
}
.aboutbuttons{
	 margin-top: 20px;
	 margin-bottom: 20px;
	 margin-right: 496px;
     width: 16%;
     float:right;
	}
	
.navbar-default .navbar-collapse {
    background-color: #3b5999;
    border-color: #E7E7E7;
    font-color: white;
}	