<!DOCTYPE html>
<html>
  <head>
    <title> Signup Page </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1> Signup </h1>
  <form action="/signup" method="post">
    Username:<input type = "text" name="username"/><br/>
    Password:<input type = "text" name="password"/><br/>
    First Name:<input type = "text" name="firstname"/><br/>
    Last Name:<input type = "text" name="lastname"/><br/>
    Date of Birth:<input type = "text" name="dateOfBirth"/><br/>
    Gender:<input type = "text" name="gender"/><br/>
    <input type = "submit" value = "SignUp" />
   </form>
  </body>
</html>